<!-- To Open Nav filter -->

<input  id="filter_by_ty" 
        type="checkbox" 
        name="open_filter"
        hidden>

<input  id="filter_by_sf" 
        type="checkbox" 
        name="open_filter"
        hidden>

<input  id="filter_by_lo" 
        type="checkbox" 
        name="open_filter"
        hidden>

<!-- Write One input for each value -->

{%- for typo in typologies -%}
  <input  id="f-ty_{{loop.index}}" 
          type="checkbox" 
          name="f-ty"
          value="{{ typo }}"
          hidden>
{%- endfor -%}

{%- for sf in collections.savoirFaire -%}
  <input  id="f-sf_{{loop.index}}" 
          type="checkbox" 
          name="f-sf"
          value="{{ sf.data.nom }}"
          hidden>
{%- endfor -%}

{%- for equipe in collections.localisations -%}
  <input  id="f-lo_{{loop.index}}" 
          type="checkbox" 
          name="f-lo"
          value="{{ equipe.data.nom }}"
          hidden>
{%- endfor -%}
