
<!-- Nav element -->

<nav  id="filter"
      aria-label="Liste des filtres ">

  <ul role="none">
    <!-- Filter -->
    <li role="none"
        aria-label="Filtrer les projets par typologie">

      <!-- Header -->
      <label for="filter_by_ty"
             role="none">
        <span>Typologie</span>
        <span class="value"></span>
      </label>

      <!-- List of values -->
      <ul role="menu" aria-label="Filtrer par typologie">  

        {%- for typo in typologies -%}
          <li role="menuitem">
            <label for="f-ty_{{ loop.index }}" 
                   role="button">
              {{ typo }}
            </label>
          </li>
        {%- endfor -%}

      </ul>

    </li>

    <!-- Filter Savoir-Faire -->
    <li role="none"
        aria-label="Filtrer les projets par Savoir-faire">

      <!-- Header -->
      <label for="filter_by_sf"
             role="none">
        <span>Savoir-Faire</span>
        <span class="value"></span>
      </label>

      <!-- List of values -->
      <ul role="menu" aria-label="Filtrer par Savoir-faire">
        {%- for sf in collections.savoirFaire -%}
          <li role="menuitem">
            <label for="f-sf_{{ loop.index }}" 
                   role="button">
              {{ sf.data.nom }}
            </label>
          </li>
        {%- endfor -%}
      </ul>

    </li>

    <li role="none"
        aria-label="Filtrer les projets par localisation">

      <!-- Header -->
      <label for="filter_by_lo"
            role="none">
        <span>Localisation</span>
        <span class="value"></span>
      </label>

      <!-- List of values -->
      <ul role="menu" aria-label="Filtrer par localistation">
        {%- for equipe in collections.localisations -%}
          <li role="menuitem">
            <label for="f-lo_{{ loop.index }}" 
                   role="button">
              {{ equipe.data.nom }}
            </label>
          </li>
        {%- endfor -%}
      </ul>

    </li>

  </ul>

  <button id="closeAllFilters"
          aria-label="Fermer les filtres"
          aria-hidden>        
  </button>

  <button id="closeProject"
          aria-hidden="true">
    <svg 
      viewBox="0 0 20 20"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg">
        <line stroke="currentColor" x1="5" y1="10" x2="15" y2="20"/>
        <line stroke="currentColor" x1="15" y1="0" x2="5" y2="10"/>
    </svg>
    <span class="back">Retourner à la liste des projets</span>
    <span class="close">Fermer le projet</span>
  </button>
</nav>
