<!-- List of projects -->
<ul class="list projets">
  {%- for projet in collections.projets | shuffle -%}

    <li data-ty=" {%- for t in typologies -%}{% if projet.data.typologie == t %}{{loop.index}},{% endif %}{% endfor %}"

        data-sf="   {%- for sf in collections.savoirFaire -%}{% if projet.data.mission == sf.data.nom %}{{ loop.index }},{% endif %}{% endfor %}"

        data-lo="{%- for t in collections.equipes -%}{% if projet.data.ile == t.data.nom %}{{loop.index}},{% endif %}{% endfor %}"

        data-map-point="pt-{{ projet.data.titre | getId }}"

        data-island="l-{{ projet.data.ile }}"
      >

      <div class="cover {% if projet.data.cover.temporary %}temporary{% endif %}">
        {% if projet.data.cover.src %}
          {% set alt = projet.data.cover.alt | default("Photographie du batiment") %}
          {% image 
            projet.data.cover.src,
            alt,
            [900, 1400], 
             "(max-width: 900px) 900w,
              (min-width: 901px) 1400w"
           %}
        {% endif %}
        <figure class="sample " aria-hidden="true">
            <svg viewBox="0 0 200 150">  
              <use href="#_sign_B"></use>
              <use href="#_sign_A"></use>
            </svg>
        </figure>
      </div>


      <header>
        <h1>{{ projet.data.titre }}</h1>
      </header>

      <ul aria-label="Détails" class="details">
        
        {% if projet.data.localité or projet.data.ile %}
          <li aria-label="Localisation">
            {% if projet.data.ile %}{{ projet.data.ile }}{% endif %}{% if projet.data.ile and projet.data.localité %},{% endif %} 
            {% if projet.data.localité %}
              {{ projet.data.localité }}
            {% endif %}
          </li>
        {% endif %}

        {% if projet.data.maître_ouvrage %}
          <li aria-label="Maître d'ouvrage">
            {{ projet.data.maître_ouvrage }}
          </li>
        {% endif %}

        {% if projet.data.typologie %}
          <li aria-label="Typologie">
            {{ projet.data.typologie }}
            {% if projet.data.typologie_travaux %}
            <em>{{ projet.data.typologie_travaux}}</em>
            {% endif %}            
          </li>
        {% endif %}

        {% if projet.data.statut %}
          <li aria-label="Statut">
            {{ projet.data.statut }}
            {% if projet.data.statut_phase %}
            <em>{{ projet.data.statut_phase}}</em>
            {% endif %}
          </li>
        {% endif %}

        {% if projet.data.mission %}
          <li aria-label="Missions">
            {% if projet.data.mission |isArr %}
              {{ projet.data.mission  | join(", ", "&") }}
            {% else %}
              {{ projet.data.mission }}
            {% endif %}
          </li>
        {% endif %}

        {% if projet.data.montant %}
          <li aria-label="Montant de travaux">
            {{ projet.data.montant | devise }}
          </li>
        {% endif %}

        {% if projet.data.surface %}
          <li aria-label="Surface">
            {{ projet.data.surface }} m²
          </li>
        {% endif %}

        {% if projet.data.debut %}
          <li aria-label="Date">
            {{ projet.data.debut | simpleDate | title}}
            {% if projet.data.debut and projet.data.fin  %}&#8239;—&#8239;{% endif %}
            {{ projet.data.fin | simpleDate | title}}
          </li>
        {% endif %}

      </ul>
    </li>
    
  {%- endfor -%}
</ul>