<!-- List of projects -->
<ul class="list projets" 
    aria-live="assertive"
    aria-label="Liste des projets"
    >
  {%- for projet in collections.projets | shuffle -%}

    <li data-ty=" {%- for t in typologies -%}{% if projet.data.typologie == t %}{{loop.index}},{% endif %}{% endfor %}"

        data-sf="{%- for sf in collections.savoirFaire -%}{% if projet.data.mission | isIncludes(sf.data.nom) %}{{ loop.index }},{% endif %}{% endfor %}"

        data-lo="{%- for t in collections.localisations -%}{% if projet.data.ile == t.data.nom %}{{loop.index}},{% endif %}{% endfor %}"

        data-map-point="pt-{{ projet.data.titre | getId }}"

        data-island="l-{{ projet.data.ile }}"

        tabindex="0"
      >

      <div class="cover {% if projet.data.cover.temporary %}temporary{% endif %}">
        {% if (projet.data.cover.src | length) > 0%}
          {% set src = ["_media/", projet.data.cover.src ] | join %}
          {% set alt = projet.data.cover.alt | default("Photographie du batiment") %}

          {% image 
            src,
            alt,
            [500, 900, 1400], 
             "(max-width: 500px) 500w,
              (max-width: 900px) 900w,
              (min-width: 901px) 1400w"
           %}
        {% endif %}
        <figure class="sample " aria-hidden="true">
            <svg viewBox="0 0 200 150">  
              <use href="#_sign_B"></use>
              <use href="#_sign_A"></use>
            </svg>
        </figure>
      </div>


      <header>
        <h1>{{ projet.data.titre }}</h1>
      </header>

      <ul aria-label="Détails" class="details">
        
        {% if projet.data.ville or projet.data.ile %}
          <li aria-label="Localisation">
            {% if projet.data.ville %}{{ projet.data.ville }}{% endif %}{% if projet.data.ile and projet.data.ville %},{% endif %} {% if projet.data.ile %}{{ projet.data.ile }}{% endif %}
            
          </li>
        {% endif %}

        {% if projet.data.maître_ouvrage %}
          <li aria-label="Maître d'ouvrage">
            {{ projet.data.maître_ouvrage }}
          </li>
        {% endif %}

        {% if projet.data.typologie %}
          <li aria-label="Typologie">
            {{ projet.data.typologie }}
            {% if projet.data.type_de_travaux %}
            <em>{{ projet.data.type_de_travaux}}</em>
            {% endif %}            
          </li>
        {% endif %}

        {% if projet.data.statut %}
          <li aria-label="Statut">
            {{ projet.data.statut }}
            {% if projet.data.phase %}
            <em>{{ projet.data.phase}}</em>
            {% endif %}
          </li>
        {% endif %}

        {% if projet.data.mission %}
          <li aria-label="Missions">
            {% if projet.data.mission |isArr %}
              {{ projet.data.mission  | join(", ", "&") }}
            {% else %}
              {{ projet.data.mission }}
            {% endif %}
          </li>
        {% endif %}

        {% if projet.data.montants_de_travaux_en_€HT %}
          <li aria-label="Montant de travaux">
            {{ projet.data.montants_de_travaux_en_€HT | devise }}
          </li>
        {% endif %}

        {% if projet.data.surface_en_m² %}
          <li aria-label="Surface">
            {{ projet.data.surface_en_m² | spaceNumber }} m²
          </li>
        {% endif %}

        {% if projet.data.calendrier %}
          <li aria-label="Durée des travaux">
            {{ projet.data.calendrier | parseDate | safe}}
          </li>
        {% endif %}

      </ul>
    </li>
    
  {%- endfor -%}
</ul>