---
titre: Nos équipes
permalink: /equipes/index.html
cover:
  src: "_media/CHUG_morne_vergain-david_gregoire.jpg"
  alt: "L'équipe de Guez Caraïbes"
layout: equipes

slogan: "*Guez Caraïbes* **3 Équipes** fortes de **30 ans d’expérience** *au cœur de la caraïbe*"

description: "Nos équipes pluridisciplinaires développent et assurent le suivi de tous types de projets de construction dans les îles françaises de la Caraïbe.<br><br>
Les certifications OPQIBI et ISO 9001-2015 attestent de nos compétences.<br><br>
Reconnus pour notre savoir-faire ultra-marin, nous avons intégré le groupe INGEROP depuis 2019."

job: 
  intro: Dans l’optique de compléter nos équipes, nous sommes actuellement à la recherche de&thinsp;&#58;
  link: https://www.linkedin.com/company/guez-caraibes/jobs/
  mail: jobs@guezcaraibes.fr
---

