---
layout: index
titre: Bureau d'ingénierie 
permalink: /index.html
cover: 
  src: christian-lendl-ry2aaDsawPA-unsplash.jpg
  alt: Vue aérienne de la Martinique
---

Notre bureau d’études techniques développe son savoir-faire dans les îles françaises caribéennes depuis 30 ans. Il est depuis 3 ans une filiale du groupe Ingérop.