---
titre: "Bureau d'ingénierie"
layout: "index"
cover:
  -   src: "_media/CHUG_morne_vergain-david_gregoire.jpg"
      alt: "Chantier de l'hopital XYZ"
  -   src: "_media/christian-lendl-ry2aaDsawPA-unsplash.jpg"
      alt: "Description de la 2nd photo"
      
content: "Depuis 30 ans, nos équipes pluridisciplinaires développent et assurent le suivi de tous types de projets de construction dans les îles françaises de la Caraïbe." 
---
