---
titre: "Bureau d'ingénierie"
layout: "index"
cover:
  src: "_media/christian-lendl-ry2aaDsawPA-unsplash.jpg"
  alt: "Vue aérienne de la Martinique"

content: "Notre bureau d’études techniques développe son savoir-faire dans les îles françaises caribéennes depuis 30 ans. Il est depuis 3 ans une filiale du groupe Ingérop." 
---
