---
titre: Mentions légales
layout: mentions_legales
---

## Édition du site

Le présent site internet www.guezcaraïbes.com est édité par la société Guez Caraïbes.   
Société par GUEZ CARAIBES Sarl au capital de 50 000 €, immatriculée au Registre du commerce et des sociétés de Fort de France, sous le numéro 398 276 675 00046 et dont le siège social est situé à Lotissement Oliver – Acajou – 97232 LAMENTIN. 

Le numéro de TVA intra-communautaire étant FR42398276675.

__Représentant légal__   
Sylvain HODOUL   
<a class="obf" data-href="rf.sebiaraczeug@euqinitramteb" data-protocol="mail" ></a>   


__Directeur dela publication__   
Sylvain HODOUL   
<a class="obf" data-href="rf.sebiaraczeug@luodoh.niavlys" data-protocol="mail" ></a>

__Design du site web__   
[bnjm.eu](https://bnjm.eu)   

__Développement du site web__   
[bnjm.eu](https://bnjm.eu)   

Le site est hébergé par la société Ingérop.  

__Crédits photographiques__   
Les photographies de projet sont réalisées par Renaud Leroux (projets en Martinique) et David Grégoire (projets en Guadeloupe).   

## Propriété intellectuelle et contrefaçons.

Guez Caraïbes est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, architecture, icônes et sons.

Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Guez Caraïbes.

Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.

## Limitations de responsabilité.

Guez Caraïbes ne pourra être tenu pour responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site guezcaraibes.com.

Guez Caraïbes décline toute responsabilité quant à l’utilisation qui pourrait être faite des informations et contenus présents sur guezcaraibes.com.

Guez Caraïbes s’engage à sécuriser au mieux le site guezcaraibes.com, cependant sa responsabilité ne pourra être mise en cause si des données indésirables sont importées et installées sur son site à son insu.

## Charte de protection des données personnelles et de gestion des cookies

Nous ne collectons aucune données sur nos utilisateurs.

