---
titre: Mentions légales
layout: mentions_legales
---

## Édition du site

Le présent site internet www.midiquinze.com est édité par la société Guez Caraïbes.   
Société par **** au capital de ******, immatriculée au Registre du commerce et des sociétés de ****, sous le numéro **** et dont le siège social est situé au ******. Le numéro de TVA intra-communautaire étant *****

Représentant légal: NOM****, MAIL******@guezcaraibes.fr   
Directeur de la publication: NOM****, MAIL******@guezcaraibes.fr

Design du site web&thinsp;: [bnjm.eu](https://bnjm.eu)   
Développement du site web&thinsp;: [bnjm.eu](https://bnjm.eu)   


Le site est hébergé par la société github.com

Les photographies de projet sont réalisées par *****.
La photographie de couverture est réalisée par Christian Lendl.

## Propriété intellectuelle et contrefaçons.

Guez Caraïbes est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, architecture, icônes et sons.

Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Guez Caraïbes.

Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.

## Limitations de responsabilité.

Guez Caraïbes ne pourra être tenu pour responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site guezcaraibes.com.

Guez Caraïbes décline toute responsabilité quant à l’utilisation qui pourrait être faite des informations et contenus présents sur guezcaraibes.com.

Guez Caraïbes s’engage à sécuriser au mieux le site guezcaraibes.com, cependant sa responsabilité ne pourra être mise en cause si des données indésirables sont importées et installées sur son site à son insu.

## Charte de protection des données personnelles et de gestion des cookies

Nous ne collectons aucune données sur nos utilisateurs.

