{% extends "_base.html" %}

{% block main %}

  <header>
    <h1>{{ slogan | markdown | escaP | safe }}</h1>
    <div class="description">
      {{ description | markdown | safe }}
    </div>
  </header>

  {% if cover %}
    {% image 
      cover.src, 
      cover.alt, 
      [600, 900, 1200, 1800], 
      " (max-width: 400px) 600w,
        (max-width: 600px) 900w,
        (max-width: 899px) 1200w,
        (min-width: 900px) 1600w"
     %}
  {% endif %}

  <section id="equipes" aria-label="Nos équipes">

    <h1>Nos agences</h1>

    <address aria-label="Liste des équipes">
      <ul>
        {%- for equipe in collections.equipes -%}
          <li>        
            <h2 aria-label="Localisation">
              {{ equipe.data.nom }} {% if equipe.data.siège %}<i>(siège)</i>{% endif %}
            </h2>
            
            <ul aria-label="Contact de l'agence {{ equipe.data.nom }}">
            {% set mail = equipe.data.adresse.mail | reverse %}
            {% set phone = equipe.data.adresse.téléphone | reverse %}
              <li aria-label="Email de l'équipe {{ equipe.data.nom }}">
                <a class="obf"
                   data-icon="Mail"
                   data-href="{{ mail }}"
                   data-protocol="mail"
                   >
                </a>
              </li>
              <li aria-label="Téléphone de l'équipe {{ equipe.data.nom }}">
                <a class="obf" 
                   data-icon="Tél"
                   data-href="{{ phone }}"
                   data-protocol="phone"
                   >
                </a>
              </li>
            <li aria-label="Adresse">

              {% set lat = equipe.data.coordonnées | split(',') | head(0, 1) %}
              {% set long = equipe.data.coordonnées | split(',') | head(1, 2) %}

              <a data-icon="Adr"
                href="https://www.openstreetmap.org/?mlat={{lat}}&mlon={{long}}#map=19/{{lat}}/{{long}}" target="_blank">
                {{ equipe.data.adresse.postale | replace('; ', '<br>') | safe  }}
              </a>
            </li>
            </ul>

          </li>
        {%- endfor -%}
      </ul>
    </address>
  </section>

  <section id="jobs">
    <h1>Nous rejoindre</h1>
    
    <div class="intro">
      
      {{ job.intro | markdown | safe }}

      <ul>
        <li>

          <a  class="link" 
          href="{{ job.link }}" 
          target="_blank"
          title="Lien externe vers nos offres">
            <span>Nos offres sur LinkedIn</span>
            {% include "../assets/svg/arrow.svg" %}
          </a>

        </li>
        <li>
          
          {% set mail = job.mail | reverse %}

          <a class="obf link"
             data-icon="Mail"
             data-href="{{ mail }}"
             data-protocol="mail"
             title="Pour contacter nos ressources humaines"
             >
            <span>Postuler par mail</span>
            {% include "../assets/svg/arrow.svg" %}
          </a>

        </li>
      </ul>
      
    </div>

  </section>
{% endblock %}

{% block script %}<script type="text/javascript">event().equipes()</script>{% endblock %}
