{% extends "_base.html" %}

{% block main %}
  <section id="equipes">
    <header>
      <h1>{{ slogan | markdown | escaP | safe }}</h1>
      <div class="description">
        {{ description | markdown | safe }}
      </div>
    </header>

    <address aria-label="Liste des équipes">
      <ul>
        {%- for equipe in collections.equipes -%}
          <li>
            {% if equipe.data.cover %}
              {% image 
                equipe.data.cover.src, 
                equipe.data.cover.src, 
                [400, 600, 900], 
                " (max-width: 400px) 400w,
                  (max-width: 600px) 600w,
                  (min-width: 900px) 900w"
               %}
            {% else %}
              <img aria-hidden="true" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
            {% endif %}
            
            <h2 aria-label="Localisation">
              {{ equipe.data.nom }}
            </h2>
            
            <ul aria-label="Contact de l'agence {{ equipe.data.nom }}">
            {% set mail = equipe.data.adresse.mail | reverse %}
            {% set phone = equipe.data.adresse.téléphone | reverse %}
              <li aria-label="Email de l'équipe {{ equipe.data.nom }}">
                <a class="obf"
                   data-icon="M&thinsp;"
                   data-href="{{ mail }}"
                   data-protocol="mail"
                   >
                </a>
              </li>
              <li aria-label="Téléphone de l'équipe {{ equipe.data.nom }}">
                <a class="obf" 
                   data-icon="T&thinsp;"
                   data-href="{{ phone }}"
                   data-protocol="phone"
                   >
                </a>
              </li>
              <li aria-label="Adresse">
                <p data-icon="A&thinsp;">{{ equipe.data.adresse.postale | replace('; ', '<br>') | safe  }}</p>
              </li>
            </ul>

          </li>
        {%- endfor -%}
      </ul>
    </address>
  </section>

  {% if (collections.jobs | length) > 0 %}
    <section id="jobs">
      <h1>Nous rejoindre</h1>
      
      <div class="intro">
        <p>
          Dans l’optique de compléter nos équipes, nous sommes actuellement à la recherche de&thinsp;:
        </p>
      </div>

      <ul>
      {%- for job in collections.jobs -%}
        {%- if not job.data.date_limite or (job.data.date_limite and job.data.date_limite | isDateNotPast)-%}
          <li>
            <details>
              <summary>

                <svg viewbox="0 0 20 20"><use href="#icon-arrow"></use></svg>

                <h2>{{ job.data.titre }}</h2>

                {% if job.data.contrat %}
                  <span>{{ job.data.contrat }}</span>
                {% endif %}
                
                {% if job.data.temps %}
                  <span>{{ job.data.temps }}</span>
                {% endif %}

                {% if job.data.ile %}
                  <span>{{ job.data.ile }}</span>
                {% endif %}

                {% set email = website.email %}
                {%- for equipe in collections.equipes -%}
                  {% if job.data.ile == equipe.data.nom %}
                    {% set email = equipe.data.adresse.mail %}
                  {%- endif -%}
                {%- endfor -%}

                <a class="obf button" 
                   data-href="{{ email | reverse}}"
                   data-protocol="mail"
                   data-subject='Candidature : "{{ job.data.titre }}"'
                   role="button"
                   aria-label="Postuler par mail">
                  Candidater par Mail
                </a>

              </summary>

                {{ job.content 
                  | replace('h2', 'h3') 
                  | replace('h1', 'h2') 
                  | safe 
                }}
            </details>

          </li>
        {% endif %}
      {%- endfor -%}
    </section>
  {% endif %}
{% endblock %}

{% block script %}<script type="text/javascript">event().equipes()</script>{% endblock %}
