{% extends "_base.html" %}

{% block main %}
	
		{% image 
			cover.src, 
			'cover_alt', 
			[600, 900, 1200, 1920, 3840], 
			"	(max-width: 600px) 600w,
				(max-width: 900px) 900w,
				(max-width: 1200px) 1200w,
				(max-width: 1920px) 1920w,
				(min-width: 1921px) 3840w"
		 %}

	<header>


		 <h1>{{ titre | replace (' ', '<br>') | safe}}</h1>

		 <p class="description"
		 		aria-label="Description de l'entreprise">
		 		{{content | markdown | escaP | safe }}
		 </p>

		 <ul  class="localisation"
		 			aria-label="Liste des implentations de l'entreprise">
		 	{%- for equipe in collections.equipes -%}
        <li>{{ equipe.data.nom }}</li>
      {% endfor %}
		 </ul>

	</header>
{% endblock %}

{% block script %}{% endblock %}