{% extends "_base.html" %}

{% block main %}
	
 

	<header>


		 <h1>{{ titre | replace (' ', '<br>') | safe}}</h1>

		 <p class="description"
		 		aria-label="Description de l'entreprise">
		 		{{content | markdown | escaP | safe }}
		 </p>

		 <ul  class="localisation"
		 			aria-label="Liste des implentations de l'entreprise">
		 	{%- for equipe in collections.equipes -%}
        <li>{{ equipe.data.nom }}</li>
      {% endfor %}
		 </ul>

	</header>
{% endblock %}

{% block script %}{% endblock %}