{% extends "_base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{site.url}}{{ 'assets/css/projets.css' | url }}" type="text/css" >
{% endblock %}

<!-- Set typologie -->

{% set typologies =  [
  "Centres commerciaux et Commerces",
  "Hôtels",
  "Santé",
  "Enseignement",
  "Tertiaires",
  "Logements et Hébergements",
  "Culture, Sport et Loisirs",
  "Aménagement Urbain"
] %}

{% block input %}
  {% include "partials/page/projets_inputs.html" %}
{% endblock %}


{% block main %}

  <h1>Nos projets</h1>

  {% include "partials/page/projets_filter.html" %}
  {% include "partials/page/projets_card.html" %}
  {% include "partials/map/section.html" %}


{% endblock %}

{% block script %}<script type="text/javascript">event().project()</script>{% endblock %}