{% extends "_base.html" %}

{% block main %}

  {% include "partials/map/section.html" %}

  <nav id="filter"
        aria-label="Filter les projets">

    <ul>
      <li role="none"
          aria-label="Filtrer les projets par typologie">
        <input  id="filter_by_typo" 
                type="checkbox" 
                name="filter_by_typo"
                hidden>
        <label for="filter_by_typo">
          <span>Typologie</span>
          <span class="value"></span>
        </label>
        <ul>
          <li>Fluides</li>
          <li>Enseignement</li>
          <li>Culture / Sport / Loisir</li>
          <li>Logement / Hôtellerie</li>
          <li>Commerce</li>
          <li>Industrie</li>
          <li>Infrastructure</li>
          <li>Santé</li>
        </ul>
      </li>

      <li aria-label="Filtrer les projets par Savoir-faire">
        <input  id="filter_by_sf" 
                type="checkbox" 
                name="filter_by_sf"
                hidden>
        <label for="filter_by_sf">
          <span>Savoir-Faire</span>
          <span class="value"></span>
          </label>
        <ul>
          {%- for sf in collections.savoirFaire -%}
            <li>{{ sf.data.nom }}</li>
          {%- endfor -%}
        </ul>
      </li>

      <li aria-label="Filtrer les projets par localisation">
        <input  id="filter_by_local" 
                type="checkbox" 
                name="filter_by_local"
                hidden>
        <label for="filter_by_local">
          <span>Localisation</span>
          <span class="value"></span>
          </label>
        <ul>
          {%- for equipe in collections.equipes -%}
            <li>{{ equipe.data.nom }}</li>
          {%- endfor -%}
        </ul>
      </li>

    </ul>
  </nav>

  <section>
    <ul class="list projets">
      {%- for projet in collections.projets -%}
        {{ projet.data.titre }}
      {%- endfor -%}
    </ul>
  </section>
{% endblock %}

{% block script %}<script type="text/javascript">event().project()</script>{% endblock %}