{% extends "_base.html" %}

{% block main %}
  <h1>Notre savoir-faire</h1>
  {{collections.savoirFaire | debug}}
  <ul class="list savoir-faire"
      aria-label="Liste des savoir-faire">
    {%- for sf in collections.savoirFaire -%}
       <li>
          <h2>{{ sf.data.nom }}</h2>
          <p aria-label="Description de la l'acronyme">{{ sf.content | markdown | escaP | safe }}</p>
          <a href="/projets/?sf={{ sf.data.nom | urlencode  }}"
             role="button"
             aria-label="Aller à la page Projets et découvrir les projets relatifs à la mission {{ sf.data.nom }}">Voir les projets</a>
        </li>
    {%- endfor -%}
  </ul>
{% endblock %}

{% block script %}<script type="text/javascript">event().sf()</script>{% endblock %}