#topbar .pages li[id^="tb_"] > a ,
[data-type="projets"] #filter label {
	padding-left: 0;
	transition: padding .25s 0s cubic-bezier(.68,-.55,.265,1.55);

	&:before{
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		display: inline-block;
		width: $u*.25;
		height: $u*.25;
		border-radius: 50%;
		background-color: currentColor;
		transform: transformY(-50%) scale(0);
		opacity: 0;
		transition: all .25s cubic-bezier(.68,-.55,.265,1.55);
	}
}


#topbar .pages > ul:not(:hover) > li a[aria-current="page"],
#topbar .pages > ul:hover > li a:hover,
[data-type="projets"] #filter label:hover{
	padding-left: $u*.5;
	&:before{
		transform: transformY(-50%) scale(1);
		opacity: 1;
	}
}