footer{
	min-height: 15rem;
	color: var(--cW);
	z-index: 5;

	::selection{
	  color: var(--cR) !important;
		background-color: var(--cW) !important;
	}

	&:before{
		content: "";
		background: var(--cB);
		position: absolute;
		left: -$u;
		top: 0;
		width: 100vw;
		height: 100%;
	}

	svg{
		color: var(--cW);
	}

	> svg{
		width: $u*4;
		padding: $base*4 0;
		border-bottom: 1px solid currentColor;
	}

	.baseline{
		font-family: $font-1;
    font-weight: $bold;
		text-transform: uppercase;

		span{
			display: block;
    	line-height: 1em;
    	margin-bottom: $base*2;
			&:nth-child(1){font-size: $font-size*2;}
			&:nth-child(2){font-size: $font-size*.75;}
			&:nth-child(3){font-size: $font-size*1.5;}
		}
	}

	.agrement{
		align-self: start;
		margin-top: $base*12;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: $u;
		align-items: end;

		li{

			//border-left: 1px solid currentColor;
			//padding-left: $u;
			//margin-bottom: $base*4;

			svg{
				max-height: $u*4.5;
				max-width: $u*7;
			}

			p{
				@include f1(0);
			}

			&:nth-of-type(1) svg{transform: translateX(#{$u*-.75})}
			&:nth-of-type(2) svg > g:last-of-type{display: none;}
		}
	}

	address{
		font-style: inherit;
		li{
			//border-left: 1px solid currentColor;
			//padding-left: $u;
			margin-bottom: $base*4;

			h3{
				//margin-bottom: $base;
				font-weight: $bold;
				text-transform: uppercase;
			}

			a{letter-spacing: .015em;}

			//p:last-child{margin-top: $base;}

			*{
				@include f1(1, -.5);
				display: block;
			}

			*:not(h3){
				padding-left: $u*1.5;
				&:before{
					position: absolute;
					content: attr(data-icon)':';
					top: .3em;
					left: 0;
					@include f1(0);
					font-size: .6rem;
				}
			}

		}
	}

	#mentions_legales{
		border-top: 1px solid var(--cW);
		padding-top: $base*2;
		width: 100%;
		@include f1(0);

		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: $baseline $u;

		> *{grid-column: span 2;}
		a{text-decoration: underline;}
	}


	@include for-size(phone){
		padding: $base*4 0;
		> *:first-child {margin-bottom: $base*4;}
		> *:not(:first-child):not(:last-child) {margin-bottom: $base*12;}
		address{
			li{margin-bottom: $base*12;}
		}
	}

	@include for-size(desktop){

		padding: $base*4 0 $base*12 0;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: $baseline*3 $baseline*8 auto auto;
		grid-gap: $baseline $u;

		> svg{

		}
		.baseline{
			grid-row: 2;
			grid-column: 1 / span 3;
		}
		.agrement{
			grid-row: 2;
			grid-column: 3 / span 4;

			li:nth-of-type(2){transform: translateY(5%);}
		}
		address{
			grid-row: 3;
			grid-column: 1 / -1;
			
			ul{
				display: grid;
				grid-template-columns: repeat(6, 1fr);
				grid-gap: $baseline $u;

				li{
					grid-column: span 2;
				}
			}
		}

		#mentions_legales{
			grid-row: 4;
			grid-column: span 6;
			li:nth-of-type(1){grid-column: 1/2}
			li:nth-of-type(2){grid-column: 2/ 5}
		}
	}
	@include for-size(desktop-1200){
		.agrement{grid-column: 4 / span 3;}
	}
	@include for-size(desktop-1800){
		.agrement{grid-column: 5 / span 2;}
	}

}