
/* SVG specific */
svg#main_map{

	--tX: -200px;
	--tY: 100px;
	--r: 	3;


	cursor: move;
	transform: translateX(var(--tX)) translateY(var(--tY)) scale(var(--r))  ;
	transition: transform .5s ease;//cubic-bezier(.46,.03,.52,.96);
	transform-origin: top left;
	//will-change: transform;

	&:active{
		cursor: grabbing;
	}

	// Points
	.pt{
		cursor: pointer;
		display: inline-block;
		color: #{$cB}30;
		color: #ccdef0;
		color: #ccdef0;
		color: #{$cB};
		//stroke: #{$cB};
		//color: rgb(250, 241, 207);
		//stroke: #{$c3};
		//stroke-width: .1px;
		fill: currentColor;
		z-index: 1;
		transition: all .25s ease;


		&:hover, &.hover{
			//color: $c4a;
			//color: #ffcfd1;
			color: $c2;
			//stroke: $c2;
			r: 3px;

		}
		&.focus{
			fill: $c4;
		}
	}


	text{
		font-size: 2px;
		display: none;
		transition: .25s ease-in-out;
		transform: translateX(1.5em) translateY(.35em);
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: -.5em;
		transition: .25s ease-in-out;
		fill: white
	}

	tspan{
		fill: none;
	}


	&[class^="scale-"] .pt.single + text{
		display: block;
  	letter-spacing: 0;
	}
 
	&.scale-B{
		.pt{r: .875px;}
		
		.pt:hover, 
		.pt.hover{
			r: 2.5px;
		}
	} 

	&.scale-C{
		.pt{r: .75px;}
		
		.pt:hover, 
		.pt.hover{
			r: 2px;
		}
	} 

	// Map
	#Land { z-index: 4; }
	#M200 { z-index: 3; }
	#M1000{ z-index: 2; }
	#M3000{ z-index: 1; }

	// All cases
	#M200, #M1000, #M3000{
		path, poligon{
			fill: white;
			stroke: none;
		}
	}

	// No Scale
	#Land path{
		fill: var(--cW);
		stroke: var(--cB);
		transition: .75s ease-in-out, 
								.25s .25s stroke-width;
		stroke-width: 0.2px;
		// 4 < ratio < 80   	&&   .05px < stroke-width < .2px	
		stroke-width: calc(max(.05px, .2px - .001875px * ( var(--r) - 4) ));
		stroke-linecap: round;
	}

	#M200, #M1000, #M3000{
		opacity: .2;
		transition: .5s ease-in-out;
		path, poligon{
			fill: var(--cW);
			stroke: none;
		}
	}

	&:not(.noScale){}

	// All but no Scale
	&[class^="scale"]{
		 #Land path{
			fill: #fff;
		}

		#M200, #M1000, #M3000{
			opacity: .025;
		}		
		#M200{ transition-delay: .6s; }
		#M1000{ transition-delay: .4s; }
		#M3000{ transition-delay: .2s; }

	}
}

[data-vue="single"] svg#main_map  .pt{
		&.single{
			fill: #{$cR};
			r: 3px;
		}
}

[data-vue="single"] svg#main_map.scale-B .pt.single{
	r: 2.5px;
} 

[data-vue="single"] svg#main_map.scale-C .pt.single{
	r: 2px;
} 