	/* */
	/* Project Filter*/
//main[data-type="projets"]{

	input#filter_by_typo:not(:checked) ~ input[name="f-ty"]:checked ~ #filter > ul > li:nth-of-type(1) > label .value:empty,
	input#filter_by_sf:not(:checked) ~ input[name="f-sf"]:checked ~ #filter > ul > li:nth-of-type(2) > label .value:empty,
	input#filter_by_local:not(:checked) ~ input[name="f-lo"]:checked ~ #filter > ul > li:nth-of-type(3) > label .value:empty{
		--sc: 1;
	}

	@for $i from 1 through $ty_len { 
		#f-ty_#{$i}:checked ~ #filter label[for="f-ty_#{$i}"]{
			--sc: 1;
		}
	}
	@for $i from 1 through $sf_len { 
		#f-sf_#{$i}:checked ~ #filter label[for="f-sf_#{$i}"]{
			--sc: 1;
		}
	}
	@for $i from 1 through $lo_len { 
		#f-lo_#{$i}:checked ~ #filter  label[for="f-lo_#{$i}"]{
			--sc: 1;
		}
	}

	/* */
	/* Simple filter */

	// Mobile : Hide all only if filter enable
	@include for-size(phone){
		[id^="f-ty"]:checked ~ ul [data-ty],
		[id^="f-sf"]:checked ~ ul [data-ty],
		[id^="f-lo"]:checked ~ ul [data-ty]{ 
			display: none;
		}
	}
	// Desktop : Hide all by default
	@include for-size(desktop){
		ul.list [data-ty]{ display: none; }
	}

	@for $i from 1 through $ty_len {
		[id="f-ty_#{$i}"]:checked ~ ul [data-ty*="#{$i}"]{
			display: block;
		}
	}
	@for $i from 1 through $sf_len {
		[id="f-sf_#{$i}"]:checked ~ ul [data-sf*="#{$i}"]{
			display: block;
		}
	} 
	@for $i from 1 through $lo_len {
		[id="f-lo_#{$i}"]:checked ~ ul [data-lo*="#{$i}"]{
			display: block;
		}
	}

	/* */
	/* Two way filter */
	[id^="f-ty"]:checked ~ [id^="f-sf"]:checked ~ ul [data-ty],
	[id^="f-ty"]:checked ~ [id^="f-lo"]:checked ~ ul [data-ty],
	[id^="f-sf"]:checked ~ [id^="f-lo"]:checked ~ ul [data-ty]{ 
		display: none;
	}

	@for $i from 1 through $ty_len {
		@for $j from 1 through $sf_len {
			[id="f-ty_#{$i}"]:checked ~ [id="f-sf_#{$j}"]:checked ~ ul [data-ty*="#{$i}"][data-sf*="#{$j}"]{
				display: block;
			}
		}
	}
	
	@for $i from 1 through $ty_len {
		@for $j from 1 through $lo_len {
			[id="f-ty_#{$i}"]:checked ~ [id="f-lo_#{$j}"]:checked ~ ul [data-ty*="#{$i}"][data-lo*="#{$j}"]{
				display: block;
			}
		}
	}

	@for $i from 1 through $sf_len {
		@for $j from 1 through $lo_len {
			[id="f-sf_#{$i}"]:checked ~ [id="f-lo_#{$j}"]:checked ~ ul [data-sf*="#{$i}"][data-lo*="#{$j}"]{
				display: block;
			}
		}
	}

	/* */
	/* Three way filter */
	[id^="f-ty"]:checked ~ [id^="f-sf"]:checked ~ [id^="f-lo"]:checked ~ ul [data-ty]{
		display: none;
	}

	@for $i from 1 through $ty_len {
		@for $j from 1 through $sf_len {
			@for $k from 1 through $lo_len {
				[id="f-ty_#{$i}"]:checked ~ [id="f-sf_#{$j}"]:checked ~ [id="f-lo_#{$j}"]:checked ~ ul [data-ty*="#{$i}"][data-sf*="#{$j}"][data-lo*="#{$k}"]{
					display: block;
				}
			}
		}
	}
//}