#topbar{
	
	width: 100%;
	padding: $base*4 0;
	box-sizing: border-box;
	z-index: 10;

	&::after {
	  content: "";
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  display: block;
	  width: 100%;
	  height: 1px;
	  border-bottom: 1px solid currentColor;
	}

	> ul{
		// @include flex;
		// @include align-items(center);
		// @include justify-content(space-between);
		display: grid;
		grid-template-columns: 5fr 1fr;
		grid-gap: $unite;
		align-items: center;
	}

	.home{
		a{
			display: inline-block;
		}
		svg{
			width: $unite*15
		}
	}

	.pages{
		ul > li.artifact{display: none;}
		ul:hover > li.artifact a[aria-current="page"],
		ul:hover > li.artifact a,
		ul:not(:hover) > li.artifact a[aria-current="page"],
		ul:not(:hover) > li.artifact a{
			padding: 0 !important;
		}
		address{
			display: none;
		}
	}


	@include for-size(phone){

		.pages{
			justify-self: end;
			min-width: $unite*2;


			> label{
				font-size: 0;
				width: $unite*2;
				display: block;
				height: $base*4;
				cursor: pointer;
				z-index: 5;
				padding: $base*6 0 $base*6 $u;




				&::before, &::after {
				  content: '';
				  position: absolute;
				  width: $unite*2;
				  height: 1px;
				  height: .5px;
				  transition: 0.25s;
				  background: currentColor;
				}
				&::before {
				  top: $base*6;
				}
				&::after {
				  bottom: $base*6;
				}
			}
			> input:checked + label{
				color: var(--cW);

				position: fixed;
				top: $base*4;
				right: $u;

				&::before{
					top: 50%;
					transform: rotate(135deg);
				}
				&::after{
					bottom: 50%;
					transform: rotate(225deg);
				}
			}

			> ul {
				position: fixed;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				overflow: hidden scroll;
				background: var(--cB);
				color: var(--cW);
				clip-path: circle(0% at calc(100% - #{$u*2}) #{$u*3});
				transition: height 0s .25s,
										width 0s .25s,
										clip-path .25s 0s ease-in-out;

				//display: flex;
				//flex-direction: column;
				//justify-content: end;

				display: grid;
				grid-template-rows: calc(100vh - #{$base*17} - #{$base*8} * 3 - #{$baseline}- 1px) #{$base*13} auto;
				grid-template-rows: calc(100dvh - #{$base*17} - #{$base*8} * 3 - 1px) #{$base*13} auto;
				grid-template-columns: 1fr;
				grid-gap: 0;//$base*4;
				align-items: end;

				padding: $baseline $unite;
				box-sizing: border-box;
/* 
				&::after {
				  position: fixed;
				  top: $base*26;
				  left: $u;
				  display: block;
				  width: calc(100vw - #{$u*2});
				  height: 1px;
				  border-bottom: 1px solid var(--cW);
				} */

				&:hover > li > a:hover,
				&:not(:hover) > li > a[aria-current="page"]{
					padding-left: $u*1.25 !important;
					&:before{
						left: $u*.25;
						width: $u*.5;
						height: $u*.5;
					}
				}

				> li{
					@include f1(3, -2, $bold);
					text-transform: uppercase;

				}

				> li.artifact{
					display: block;
					position: fixed;
					top: $base*4;
					left: $u;
					width: 15rem;
					svg{
					}
				}

				address{
					display: block;
					font-style: normal;
					border-top: 1px solid currentColor;
					margin-top: $base*4;

					@include f1(1);

					p{font-weight: $bold}
					a{
						display: block;
					}

					li{
						margin-top: $base*4
					}


				}
			}

			> input:checked ~ ul {
				width: 100vw;
				width: 100dvw;
				height: 100vh;
				height: 100dvh;

				box-sizing: border-box;
				transition: height 0s 0s,
										width 0s 0s,
										clip-path .75s 0s ease-in-out;
				clip-path: circle(110vh at calc(100% - #{$u*2}) #{$u*3});
				clip-path: circle(135vmax at calc(100% - #{$u*2}) #{$u*3});

			}
		}
	}
	@include for-size(desktop){

		.pages{
			width: $unite*15;
			border-left: 1px solid currentColor;
			padding-left: $unite;
			> label {display: none;}
			> ul {

				@include f1(1);
				text-transform: uppercase;
			}
		}

	}

}




body[data-serve="index"]{
	#topbar{
	}
}

body[data-serve="projets"],
body[data-serve="equipes"],
body[data-serve="savoir-faire"]{
	#topbar{
	}
}