<footer>

	<svg viewBox="0 0 200 150">
		  <use href="#_sign_B"></use>
		  <use href="#_sign_A"></use>
	</svg>

	<p class="baseline">
		<span>Bureau <br>d'ingénierie</span> 
		<span>dans la</span> 
		<span>Caraïbe</span>
	</p>

	<ul class="agrement" 
			aria-label="Liste des Agrément">
		<li role="none">
			{% include "../../assets/svg/opqibi.svg" %}
			<p aria-label="Certification">Agrément n° 09 02 2045</p>
		</li>
		<li role="none">
			{% include "../../assets/svg/abi.svg" %}
			<p aria-label="Certification" hidden>Certification ISO 9001:2015</p>
		</li>
	</ul>

	<address aria-label="Liste des équipes">
		<ul>
			{%- for equipe in collections.equipes -%}
        <li role="none"
        >
          <h3 aria-label="Localisation">
          	{{ equipe.data.nom }}
          </h3>
          
          {% set mail = equipe.data.adresse.mail | reverse %}
          {% set phone = equipe.data.adresse.téléphone | reverse %}
          <a class="obf"
          	 aria-label="Mail"
          	 data-icon="M&thinsp;"
          	 data-href="{{ mail }}"
          	 data-protocol="mail"
          	 role="Email de l'équipe {{ equipe.data.nom }}">
          </a>
        	<a class="obf" 
          	 aria-label="Phone"
          	 data-icon="T&thinsp;"
        	 	 data-href="{{ phone }}"
        	   data-protocol="phone"
          	 role="Téléphone de l'équipe {{ equipe.data.nom }}">
        	</a>
        	<p aria-label="Adresse"
        		 data-icon="A&thinsp;"
        	>
        		{{ equipe.data.adresse.postale | replace('; ', '<br>') | safe  }}
        	</p>
        </li>
      {%- endfor -%}
		</ul>
	</address>

	<ul id="mentions_legales">
		<li>{{ site.currentYear() }} — {{website.name}}</li>
		<li><a href="/mentions_legales">Mentions légales</a></li>
		<li>Design & Code: <a href="https://bnjm.eu" target="_blank">bnjm.eu</a></li>
	</ul>

</footer>
