<footer aria-label="Pied de page" id="footer">

	<svg viewBox="0 0 200 150">
			<title>Emblème Guez Caraïbes</title>
		  <use href="#_sign_B"></use>
		  <use href="#_sign_A"></use>
	</svg>

	<h1 class="baseline" role="presentation">
		<span role="none">Bureau&nbsp;<br>d'ingénierie</span> 
		<span role="none">au cœur de la</span> 
		<span role="none">Caraïbe</span>
	</h1>


	<address>
		<ul  aria-label="Adresse des équipes">
			{%- for equipe in collections.equipes -%}
        <li>
          <h2 aria-label="Localisation">
          	{{ equipe.data.nom }} {% if equipe.data.siège %}<i>(siège)</i>{% endif %}
          </h2>
          <ul aria-label="Contact de l'agence {{ equipe.data.nom }}">
          {% set mail = equipe.data.adresse.mail | reverse %}
          {% set phone = equipe.data.adresse.téléphone | reverse %}
	          <li aria-label="Email de l'équipe {{ equipe.data.nom }}">
		          <a class="obf"
		          	 data-icon="Mail"
		          	 data-href="{{ mail }}"
		          	 data-protocol="mail"
		          	 >
		          </a>
	          </li>
	          <li aria-label="Téléphone de l'équipe {{ equipe.data.nom }}">
		        	<a class="obf" 
		          	 data-icon="Tél"
		        	 	 data-href="{{ phone }}"
		        	   data-protocol="phone"
		          	 >
		        	</a>
	          </li>
	          <li aria-label="Adresse">

						  {% set lat = equipe.data.coordonnées | split(',') | head(0, 1) %}
						  {% set long = equipe.data.coordonnées | split(',') | head(1, 2) %}

		        	<a data-icon="Adr"
		        		href="https://www.openstreetmap.org/?mlat={{lat}}&mlon={{long}}#map=19/{{lat}}/{{long}}" target="_blank">
		        		{{ equipe.data.adresse.postale | replace('; ', '<br>') | safe  }}
		        	</a>
	          </li>
        	</ul>
        </li>
      {%- endfor -%}
		</ul>
	</address>

	<div class="mother">
		<a href="https://ingerop.fr"
			 aria-label="Lien vers le site Ingérop"
			 target="_blank"> 
			{% include "../../assets/svg/ingerop_logo.svg" %}
		</a>
	</div>

	<ul class="agrement" 
			aria-label="Liste des Agréments">
		<li>
			{% include "../../assets/svg/opqibi.svg" %}
			<p aria-label="Certification OPQIBI">
				<span class="sr-only">OPQIBI</span>
				Agrément n° 09 02 2045
			</p>
		</li>
		<li>
			{% include "../../assets/svg/abi.svg" %}
			<p aria-label="Certification ABi">
				<span class="sr-only">ABi</span>
		</li>
	</ul>


	<ul id="mentions_legales"
			aria-label="Mentions légales et crédits">
		<li>{{ site.currentYear() }} — {{website.name}}</li>
		<li><a href="/mentions_legales">Mentions légales</a></li>
		<li>Photos&thinsp;: {{ website.colophon.photo }} </li>
		<li>Design & Code&thinsp;: <a href="https://bnjm.eu" target="_blank">bnjm.eu</a></li>
	</ul>


	{% if layout  == 'index' %}
		<a href="#footer"
			 class="scrollDown" 
			 role="button"
			 aria-label="Voir le pied de page"
			 onclick="this.classList.add('activated')"
			>
			{% include "../../assets/svg/arrowDown.svg" %}
		</a>
	{% endif %}
</footer>
