<nav id="topbar">
	<ul role="Topbar" role="none">
		<li role="none" 
				class="home">
			<a 	href="{{ site.url }}/"
					role="topbar Item"
					title="Page d'accueil"
					tabindex="-1"
					{% if page.url == '/' %}aria-current="page"{% endif %}>
				{% include "../../assets/svg/guez_logo+.svg" %}
			</a>
		</li>
		<li role="none" 
				class="pages">

			<input id="mobileMenu" 
						 type="checkbox"
						 hidden>
			<label for="mobileMenu">
				Menu
			</label>

			<ul>

				<li role="none" 
						class="artifact"
						aria-hidden="true">
					<a 	href="{{ site.url }}/"
							role="topbar Item"
							title="Page d'accueil"
							tabindex="-1"
							aria-hidden="true"
							{% if page.url == '/' %}aria-current="page"{% endif %}>
							
							<svg viewBox="0 0 734.3 163.35">  
	              <use href="#_type"></use>
	              <use href="#_sign_B"></use>
	              <use href="#_sign_A"></use>
	            </svg>
					</a>
				</li>
				<li role="none" id="tb_savoir-faire">
					<a 	href="{{ site.url }}/savoir-faire/"
							role="topbar Item"
							{% if page.url == '/savoir-faire/' %}aria-current="page"{% endif %}>
						Savoir-faire
					</a>
				</li>
				<li role="none" 
						id="tb_projets">
					<a 	href="{{ site.url }}/projets/"
							role="topbar Item"
							{% if page.url == '/projets/' %}aria-current="page"{% endif %}>
						Projets
					</a>
				</li>
				<li role="none" 
						id="tb_equipes">
					<a 	href="{{ site.url }}/equipes/"
							role="topbar Item"
							{% if page.url == '/equipes/' %}aria-current="page"{% endif %}>		
						Équipes
					</a>

					<address aria-label="Liste des équipes">
						<ul>
							{%- for equipe in collections.equipes -%}
				        <li role="none"
				        >
				          <p aria-label="Localisation">
				          	{{ equipe.data.nom }}
				          </p>
				          
				          {% set mail = equipe.data.adresse.mail | reverse %}
				          {% set phone = equipe.data.adresse.téléphone | reverse %}
 				          <a class="obf" 
 				          	 data-href="{{ mail }}"
 				          	 data-protocol="mail"
 				          	 role="Email de l'équipe {{ equipe.data.nom }}">
 				          	{{ mail }}
 				          </a>
				          <a class="obf" 
				          	 data-href="{{ phone }}"
				          	 data-protocol="phone"
 				          	 role="Téléphone de l'équipe {{ equipe.data.nom }}">
				          	{{ phone }}
				          </a>

				        </li>
				      {%- endfor -%}
						</ul>
					</address>
				</li>
			</ul>
		</li>
	</ul>
</nav>