<nav id="topbar">
	<input id="mobileMenu" 
				 type="checkbox"
				 role="none"
				 hidden>

	<ul role="menubar">
		<li role="menuitem" 
				class="home">
			<a 	href="{{ site.url }}/"
					title="Page d'accueil"
					tabindex="-1"
					{% if page.url == '/' %}aria-current="page"{% endif %}>
				{% include "../../assets/svg/guez_logo+.svg" %}
			</a>
		</li>
		<li role="none" 
				class="pages">

			<ul role="none">

				<li role="menuitem"
						class="artifact"
						aria-hidden="true">
					<a 	href="{{ site.url }}/"
							title="Page d'accueil"
							tabindex="-1"
							aria-hidden="true"
							{% if page.url == '/' %}aria-current="page"{% endif %}>
							
							<svg viewBox="0 0 734.3 163.35">  
	              <use href="#_type"></use>
	              <use href="#_sign_B"></use>
	              <use href="#_sign_A"></use>
	            </svg>
					</a>
				</li>
				<li   role="menuitem"
							id="tb_savoir-faire">
					<a 	href="{{ site.url }}/savoir-faire/"
							{% if page.url == '/savoir-faire/' %}aria-current="page"{% endif %}>
						Savoir-faire
					</a>
				</li>
				<li role="menuitem"
						id="tb_projets">
					<a 	href="{{ site.url }}/projets/"
							{% if page.url == '/projets/' %}aria-current="page"{% endif %}>
						Projets
					</a>
				</li>
				<li role="menuitem"
						id="tb_equipes">
					<a 	href="{{ site.url }}/equipes/"
							{% if page.url == '/equipes/' %}aria-current="page"{% endif %}>		
						Équipes
					</a>

					<address role="none"
									 aria-label="Liste des équipes">
						<ul>
							{%- for equipe in collections.equipes -%}
				        <li>
				          <p aria-label="Localisation">
				          	{{ equipe.data.nom }}
				          </p>
				          
				          {% set mail = equipe.data.adresse.mail | reverse %}
				          {% set phone = equipe.data.adresse.téléphone | reverse %}
 				          <a class="obf" 
 				          	 data-href="{{ mail }}"
 				          	 data-protocol="mail"
 				          	 aria-label="Email de l'équipe {{ equipe.data.nom }}">
 				          </a>
				          <a class="obf" 
				          	 data-href="{{ phone }}"
				          	 data-protocol="phone"
 				          	 aria-label="Téléphone de l'équipe {{ equipe.data.nom }}">
				          </a>

				        </li>
				      {%- endfor -%}
						</ul>
					</address>
				</li>
			</ul>
		</li>
	</ul>

	<label for="mobileMenu"
			 role="none"
			 aria-hidden="true">
	</label>
</nav>