body[data-serve="equipes"]{

}


main[data-type="equipes"]{

	header{
		h1{

			font-family: $font-1;
	    font-weight: $bold;
			text-transform: uppercase;
	    font-size: $font-size*1;
	    margin-bottom: $baseline;
	    //padding-bottom: $baseline;
	    text-align: center;

			strong{
				display: block;
	    	font-size: $base*16;
	    	line-height: 1em;
	    	margin-bottom: $base*2;
			}

			em{
				font-style: normal;
				font-weight: $normal;
				font-size: 1rem;
				line-height: $base*16;
				letter-spacing: .025em;
			}

		}
		.description{
			max-width: 30rem;
			@include f1(1);
			margin: 0 auto;
		}

	}

	address{

		font-style: normal;
			margin: $baseline*2 auto $baseline auto;

		> ul{
			max-width: 70rem;
			margin: auto;

			li {

				margin-bottom: $base*4;
				width: 100%;

				/*&:before{
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					height: calc(100% - min(33vh,32rem) - #{$baseline});
					width: 1px;
					border-left: 1px solid currentColor;
					display: inline-block;

				}*/

				> *{
					display: block;
					@include f1(1,-1);
				}

				> *:not(h2):not(img):not(picture){
					padding-left: $u*1.5;
					&:before{
						position: absolute;
						content: attr(data-icon)':';
						top: .3em;
						left: 0;
						@include f1(0);
						font-size: .6rem;
					}
				}
				a{letter-spacing: .015em;}

				> img, > picture{
					//height: min(33vh,  $baseline*20);
					aspect-ratio: 3/4;
					width: 100%;
					margin-bottom: $baseline;
				}

				picture img{
					object-fit: cover;
					width: 100%;
					height: 100%;
				}

				h2{
					text-transform: uppercase;
					margin-bottom: $base;
					font-weight: $bold;
				}

				p{
					margin-top: $base;
				}
			}

		}
	}

	#jobs{
		display: inline-block;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		h1{
			@include f1(3, 0, $bold);
			text-transform: uppercase;
			width: 100%;
			margin-bottom: $base*4;
			text-align: center;
		}

		.intro{
			margin-bottom: $baseline;
			text-align: center;
			p{
				@include f1(1);
				max-width: 25rem;
				margin: auto;
			}
		}

		details{
			padding-bottom: $base*4;
			margin-bottom: $base*4;
			border-bottom: 1px solid currentColor;
			@include f1(1);


			&[open]{
				border-color: currentColor;
				summary{
					padding-left: 0;
					padding-bottom: $base*4;
				}
			}

			.button{
				padding: $base $u*.5;
				border: 1px solid var(--cB);
				border-radius: $baseline;
				transition: all .25s ease-in-out, opacity .25s ease-in-out;
				opacity: 0;
				@include f1(1);
				//text-transform: none;

				&:hover{
					background: var(--cB);
					color: var(--cW);

				}
			}

			&[open], &:hover{
				.button{
					transition: all .25s ease-in-out, opacity .5s .25s ease-in-out;
					opacity: 1;
				}
			}
	
			summary{
				width: 100%;
				text-transform: uppercase;
				cursor: pointer;
				box-sizing: border-box;
				
				&::marker{content: none;}

				*{@include f1(2,-3);}

				svg{
					display: none;
				}

				h2{
					font-weight: $bold;
					display: block;
				}

				span{
					font-size: 1em;
					display: inline-block;
					margin-right: $u;
				}
			}

			> *:not(summary){
				max-width: 40rem;
				margin-bottom: $base*4;
			}
			> h3 {
				@include f1(1, 0, $bold);
			}
		}

	}


	@include for-size(phone){

		#equipes{
			margin-bottom: $baseline*4;
			header{margin-bottom: $baseline*2;}

			address li{margin-bottom: $baseline*2;}
		}
		#jobs{
			margin-bottom: $baseline*2;
			h1{
				max-width: 17rem;
				margin: 0 auto $base*4 auto;
				line-height: .9em;
			}
		}

		details{

			&:not([open]) .button{
				display: none;
			}
			.button{
				display: table;
				margin: $base*8 auto $base*4 auto;
				left: $u*-.5;
			}
		}

	}

	@include for-size(desktop){

		#equipes{
			margin-bottom: $baseline*8;
			header{margin-bottom: $baseline*4;}
			.description{
				text-align: center;
			}
			address {
				margin-top: $baseline;
				margin-bottom: $baseline*10;
				> ul{
					display: flex;
					justify-content: center;
					gap: $baseline;

					li{
						flex-grow: 1;
						//top: 50%;
						//transform: translateY(-50%);
						transition: width .25s cubic-bezier(0.68, -0.55, 0.265, 1.55),
												transform .25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
						/* &:hover{
							flex-grow: 2;
							width: 110%;
						} */

						img{
						}
					}
				}
			}
		}
		#jobs{
			margin: 0 auto $baseline*10 auto;

			> * {
				max-width: 70rem;
				margin-left: auto;
				margin-right: auto;
			}

			details{

				.button{
					  position: absolute;
					  top: .5rem;
					  right: 0;
				}
				summary{
					transition: .25s ease-in-out;
					overflow: hidden;

					svg{
						display: inline-block;
						width: $u;
						stroke-width: 2;
						position: absolute;
						transform: translateX(#{$u*-1.75}) translateY(-135%) rotate(-90deg);
						transition: .25s .1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
					}
				}
				&:not([open]) summary:hover{
					padding-left: $u * 2;
					svg{
						transform: translateX(#{$u*-1.75}) translateY(135%) rotate(-90deg);
					}
				}
			}
		}
	}


}