body[data-serve="equipes"]{

}


main[data-type="equipes"]{

	header{
		h1{

			font-family: $font-1;
	    font-weight: $bold;
			text-transform: uppercase;
	    font-size: $font-size*1;
	    margin-bottom: $baseline;
	    //padding-bottom: $baseline;
	    text-align: center;

			strong{
				display: block;
	    	font-size: $base*16;
	    	line-height: 1em;
	    	margin-bottom: $base*2;
			}

			em{
				font-style: normal;
				font-weight: $normal;
				font-size: 1rem;
				line-height: $base*16;
				letter-spacing: .025em;
			}

		}
		.description{
			max-width: 30rem;
			@include f1(1);
			margin: 0 auto;
		}

	}

	> * {
		max-width: 70rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: $baseline;
	}

	section{

		h1{
			@include f1(3, 0, $bold);
			text-transform: uppercase;
			width: 100%;
			margin-bottom: $base*4;
			text-align: center;
		}

	}

	> picture{
		aspect-ratio: 21/9;
		overflow: hidden;
		display: block;
		*{
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}
	}

	address{

		font-style: normal;
		margin: $baseline*2 auto $baseline auto;


		> ul{
			margin: auto;

			> li {

				margin-bottom: $base*4;
				width: 100%;

				*{
					display: block;
					@include f1(1,-1);
				}

				h2{
					text-transform: uppercase;
					margin-bottom: $base;
					font-weight: $bold;

					i{
						font-style: normal;
						font-weight: $normal;
						margin-left: .5em;
						display: inline-block;
						text-transform: capitalize;
					}
				}

				li {
					> *{

						&:not(img):not(picture){
							padding-left: $u*2;
							&:before{
								position: absolute;
								content: attr(data-icon);
								top: .4em;
								left: 0;
								@include f1(0);
								font-size: .6rem;
							}
						}
					}
					
					a{letter-spacing: .015em;}
					
					p{margin-top: $base;}
				}
			}

		}
	}


	#jobs{


		.link{
			font-weight: $bold;
			display: block;

	    text-decoration: none;
	    color: var(--cB);
	    --stroke-width: 1.5px;
	    padding: .25em .5em;
  		border-radius: .2em;
  		border: 1px solid transparent;
  		transition: border .25s ease-in-out;

	    span {
	        background-image: linear-gradient(0deg, var(--cB) 0%, var(--cB) 100%);
	        background-position: 100% 100%;
	        background-repeat: no-repeat;
	        background-size: var(--background-size, 100%) var(--stroke-width);
	        transition: background-size .2s linear var(--background-delay, .15s);
	        font-size: 16px;
	        line-height: 20px;
	        transform: translateZ(0);
	        padding-bottom: $base*2;
	    }

	    svg {
        vertical-align: top;
        display: inline;
        line-height: 1;
        width: 13px;
        height: $baseline;
        position: relative;
        left: -2px;
		    
		    * {
		        fill: none;
		        stroke-linecap: round;
		        stroke-linejoin: round;
		        stroke-width: var(--stroke-width);
		        stroke: var(--cB);
		        stroke-dasharray: 7.95 30;
		        stroke-dashoffset: var(--stroke-dashoffset, 46);
		        transition: stroke-dashoffset var(--stroke-duration, .15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
		    }

	    }
	    &:hover {
	        --background-size: 0%;
	        --background-delay: 0s;
	        --stroke-dashoffset: 26;
	        --stroke-duration: .3s;
	        --stroke-easing: cubic-bezier(.3, 1.5, .5, 1);
	        --stroke-delay: .195s;

	        border: 1px solid #{$cB}60;
	        transition-duration: .5s;
	    }
		}

		.intro{

			display: flex;
	    flex-direction: column;
	    gap: $baseline 0;
	    align-items: center;

			p{
				max-width: 30rem;
				@include f1(1);
				text-align: center;
			}

			ul{
				display: flex;
			  justify-content: space-evenly;
			  width: 100%;
			}

		}

		/* 
		details{
			padding-bottom: $base*4;
			margin-bottom: $base*4;
			border-bottom: 1px solid currentColor;
			@include f1(1);


			&[open]{
				border-color: currentColor;
				summary{
					padding-left: 0;
					padding-bottom: $base*4;
				}
			}

			.button{
				padding: $base $u*.5;
				border: 1px solid var(--cB);
				border-radius: $baseline;
				transition: all .25s ease-in-out, opacity .25s ease-in-out;
				opacity: 0;
				@include f1(1);
				//text-transform: none;

				&:hover{
					background: var(--cB);
					color: var(--cW);

				}
			}

			&[open], &:hover{
				.button{
					transition: all .25s ease-in-out, opacity .5s .25s ease-in-out;
					opacity: 1;
				}
			}
	
			summary{
				width: 100%;
				text-transform: uppercase;
				cursor: pointer;
				box-sizing: border-box;
				
				&::marker{content: none;}

				*{@include f1(2,-3);}

				svg{
					display: none;
				}

				h2{
					font-weight: $bold;
					display: block;
				}

				span{
					font-size: 1em;
					display: inline-block;
					margin-right: $u;
				}
			}

			> *:not(summary){
				max-width: 40rem;
				margin-bottom: $base*4;
			}
			> h3 {
				@include f1(1, 0, $bold);
			}
		} 
		*/

	}


	@include for-size(phone){

		section{
			margin-bottom: $baseline*2;
			h1{
				max-width: 17rem;
				margin: 0 auto $base*4 auto;
				line-height: .9em;
			}
		}

		#equipes{
			margin-bottom: $baseline*4;
			header{margin-bottom: $baseline*2;}

			address > ul > li{margin-bottom: $baseline*2;}
		}

		details{

			&:not([open]) .button{
				display: none;
			}
			.button{
				display: table;
				margin: $base*8 auto $base*4 auto;
				left: $u*-.5;
			}
		}

	}

	@include for-size(desktop){

		> *{
			margin-bottom: $baseline*4;

			&:last-child{
				margin-bottom: $baseline*6;
			}
		}


		header{
			margin-bottom: $baseline*4;
			.description{
				text-align: center;
			}
		}

		#equipes{

			address {
				width: min-width;
				> ul{
					column-count: 3;
			    column-rule: 1px solid var(--cB);
			    column-gap: 5rem;

					> li{
						flex-grow: 1;
						transition: width .25s cubic-bezier(0.68, -0.55, 0.265, 1.55),
												transform .25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
					}
				}
			}
		}

		#jobs{

			> * {
				max-width: 70rem;
				margin-left: auto;
				margin-right: auto;
			}

			/*
			
			details{

				.button{
					  position: absolute;
					  top: .5rem;
					  right: 0;
				}
				summary{
					transition: .25s ease-in-out;
					overflow: hidden;

					svg{
						display: inline-block;
						width: $u;
						stroke-width: 2;
						position: absolute;
						transform: translateX(#{$u*-1.75}) translateY(-135%) rotate(-90deg);
						transition: .25s .1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
					}
				}
				&:not([open]) summary:hover{
					padding-left: $u * 2;
					svg{
						transform: translateX(#{$u*-1.75}) translateY(135%) rotate(-90deg);
					}
				}
			}
			*/

		}

	}
	@include for-size(desktop-1800){

		> *{
			margin-bottom: $baseline*6;

			&:last-child{
				margin-bottom: $baseline*10;
			}
		}


	}

}