body[data-serve="savoir-faire"]{}

main[data-type="savoir-faire"]{

	h1{
		@include f1(2);
		text-transform: uppercase;

		width: 100%;

		padding-bottom: $base*2;
		border-bottom: 1px solid currentColor
	}

	h2{
		text-transform: uppercase;
	}

	p{
		@include f1(1);
	}

	.toProject{
		@include f1(0);
		text-decoration: underline;
		margin-top: $base*4;
		display: block;
	}

	ul{
		counter-reset: items;
		li{
			counter-increment: items;
			border-bottom: 1px solid currentColor;

			&:before{
				content: counter(items) "/"
			}

			&:nth-child(-n+9):before {
			    content: "0"counter(items) "/"
			}

			&:last-of-type{
				margin-bottom: $base*8;
			}

		}
	}


	@include for-size(phone){

		h2{
			@include f1(3, 0, $bold);
			padding-top: $base*2;
			//padding-bottom: $base*2;
			cursor: pointer;
			display: inline-block;
			padding-left: $unite*.5;
			vertical-align: baseline;
			word-break: break-all;
			width: calc(100% - 2rem);
		}

		li{
			padding: $base*2 0;

			*:not(h2){
				overflow: hidden;
			}
	
			p{
				padding-left: $unite*2;
				@include f1(0);
				margin-bottom: $base*2;
				padding-right: $u*2;

				br{display: none;}
			}

			a{
				display: inline-block;
				overflow: hidden;
				position: absolute;
				top: $base*5;
				right: 0;
				width: 100%;
				box-sizing: border-box;
				padding: $base*4 0;
				text-indent: -9999px;

				&:before{
					content: "→";
					content: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' points='8.5 5 15.5 12 8.5 19' stroke='%23004D9B' stroke-linecap='round' stroke-width='1'/%3E%3C/svg%3E");
					text-indent: 0;
					float: right;
				}
			}
		}
	}

	@include for-size(desktop){

		h1{
			padding-left: calc((100% / 6) * .25 + #{$unite} + .5vw);
		}

		h2{
			@include f1(6, -.17, $bold);
		}

		li{
			display: grid;
			grid-template-columns: $u*2 auto 1fr;//2fr 2fr	;
			grid-template-rows: auto auto;
			grid-gap: 0 $unite;
			align-items: strech;
			padding: $base*4 0;

			transform: translateX(0);
			transition: transform .35s 0s cubic-bezier(0.68, -0.55, 0.265, 1.55); 


			&:before{
				align-self: end;
			}

			&:hover{
				transform: translateX(calc( clamp(#{$u*5}, 20vw, #{$u*10}) + #{$u*2} ));
			}

			a{ 
				position: absolute;
				height: 100%;
				left: calc( clamp(#{$u*-12}, -20vw, #{$u*-7}) - #{$u*2});//calc(100% + #{$u});
				//background: var(--cB);
				color: var(--cW);
				width: calc( clamp(#{$u*5}, 20vw, #{$u*10}) + #{$u*3});

				display: flex;
				align-items: center;
				justify-content: center;
				text-transform: uppercase;
				padding-right: $u;

				//clip-path: circle(150% at 9% 50%);
				//clip-path: polygon(-3rem 0, 100% 0, calc(100% - 2rem) 100%, -3rem 100%);
				transform: translate(0);
				transition: transform .35s ease;

				font-size: 2em;
				font-weight: bold;
				text-align: center;
				line-height: .75em;

				&:after, &:before{
					content: "";
					position: absolute;
					top: 0;
					left: $u*-3;
					width: calc(100% + #{$u*2});
					height: 100%;

				}
				&:before{
					background: var(--cB);
					z-index: -1;
					transition: background .5s linear;
				}
				&:after{
					background: linear-gradient(90deg, rgba(0,0,0,0) 90%, rgb(0, 0, 0) 100%);
					mix-blend-mode: multiply;
					opacity: 0.15;
				}

				&:hover:before{
					background: var(--cR);
				}
			}

			p{
				padding-top: $base*6;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				justify-content: space-between;
				max-width: 15rem;
			}
		}
	}

}